.main-footer {
  width: 100%;
  color: white;
  background-color: #3c3c3b;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 3em;
}

.footer-Container {
  width: 70%;
  margin: auto;
}
.containerFooter {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.footerLogeY {
  width: 220px;
}
.about {
  width: 40%;
  padding-right: 1.5em;
  p {
    font-size: 1vw;
    margin-top: 5%;
  }
  h1 {
    color: var(--primary-color);
  }
}
.buttonInInput {
  background-color: #fff;
  border-radius: 25px;
  padding: 5px;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  input {
    width: 79.7%;
    padding: 10px;
    border-radius: 25px;
    margin-left: 2px;
    border: 0;
    text-decoration: none;
  }
  input:focus {
    outline: none;
  }
  button {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-color);
    padding: 0.3em 1.3em;
    border: 0;
    border-radius: 25px;
    font-size: 0.6em;
    font-weight: 900;
    text-align: right;
  }
}
.inputCaption {
  width: 80%;
  margin: auto;
  padding: 0.5em;
}

.social {
  width: 60%;
  margin-bottom: 1em;
  border-left: 0.5px solid rgb(165, 164, 164);
  display: flex;
  flex-direction: column;
}
.media {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ySocial {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
  margin-right: 25%;
  width: 100%;
  p {
    font-size: 0.75em;
    font-weight: 600;
    color: #fff;
    margin-left: 10px;
  }
}

.sections {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-bottom: 1em;
  border-right: 0.5px solid rgb(165, 164, 164);
}

.yLinks {
  padding: 0.6em 0.5em;
  color: #fff;
  font-size: 0.75em;
  font-weight: 600;
  width: 70%;
}

.footermenu {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}

.copyRights {
  width: 25%;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
}

.payment {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nasnav {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.secondDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em 0 2em 0;
}
hr.hrStyle {
  border: 0;
  height: 1px;
  background: rgb(165, 164, 164);
  width: 95%;
  margin: auto;
}
@media screen and (min-width: 300px) and (max-width: 640px) {
  .main-footer {
    bottom: 7vh;
    margin-top: 5em;
  }
  .footer-Container {
    width: 90%;
    margin: auto;
  }
  .containerFooter {
    width: 100%;
    margin: auto;
    flex-direction: column;
  }
  .about {
    width: 100%;
    text-align: left;
    margin-bottom: 10%;
    p {
      font-size: 0.6em;
      margin-top: 5%;
      letter-spacing: -0.25px;
    }
  }
  .footerLogeY {
    width: 124px;
  }
  .social {
    width: 95%;
    margin: auto;
    border-top: 0.5px solid rgb(165, 164, 164);
    border-left: 0;
  }
  .inputCaption {
    font-size: 0.9em;
    letter-spacing: -0.3px;
    text-align: center;
    padding-top: 2em;
    font-weight: 300;
  }
  .buttonInInput {
    width: 100%;
    input {
      width: 95%;
    }
    button {
      width: 60%;
      padding: 0.25em 1em;
    }
  }
  .sections {
    width: 100%;
    margin-left: 1%;
    margin-bottom: 1em;
    border-right: 0;
  }
  .yLinks {
    font-size: 0.6em;
    font-weight: 600;
    width: 100%;
    padding: 0.9em 0.5em;
  }
  .footermenu {
    border-top: 0.5px solid rgb(165, 164, 164);
    padding-top: 1.5em;
    margin-top: 1.5em;
  }
  .media {
    width: 100%;
    align-items: flex-start;
  }
  .secondDiv {
    flex-direction: column;
  }
  .copyRights {
    width: 100%;
    font-size: 0.9em;
  }
  .payment {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 0.5px solid rgb(165, 164, 164);
  }
  .nasnav {
    width: 95%;
    justify-content: space-evenly;
  }
}
