@keyframes fadeIn{ 
  from {
    opacity: 0
    }
  to{
    opacity: 1
	}
}
.fade-in{
  animation: fadeIn .5s ease-in
}
h1, h2, h3{
  color: #fff;
  margin: .5em 0;
  }
h1 {
  font-size: 2.5em
  }
h2{
  font-size: 1.5em;
  line-height: 1.25
  }
.tiles{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2em
  }
  .tile {
    width: calc(28% - 3em);
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 290px;
    margin: 1em auto
    }
.load-more{
  display: block;
  border: 0;
  margin: 1em auto;
  padding: 1.5em 4em;
  font-size: 1em;
  background: #ECECEC 0% 0% no-repeat padding-box;
  border-radius: 30px;
  color: #542E90;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  
  &:focus{
    outline: 1px solid rgba(255, 255, 255, .5)}
}